<nav class="navbar navbar-expand-lg navbar-dark closer-bg-dark">
  <a class="navbar-brand" href="#">Centre of Longitudinal Studies - Data Dictionary</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-3 d-none d-sm-block bg-light sidebar">
      <ng-container *ngFor="let study of studies">
        <h4>{{study.title}}</h4>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item" *ngFor="let sweep of study.sweeps">
            <a class="nav-link" href="#" (click)="onSelect(sweep)">{{sweep.title}}</a>
          </li>
        </ul>
      </ng-container>
    </nav>
    <main class="col-sm-9 ml-sm-auto col-md-9 pt-3" role="main">
      <sweep-detail [sweep]="selectedSweep"></sweep-detail>
    </main>
  </div>
</div>
